@font-face {
    font-family: 'TT Livret Subhead';
    src: local('TT Livret Subhead'), url('./assets/fonts/TTLivretSubheadMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons Pro';
    src: local('TT Commons Pro'), url('./assets/fonts/TTCommonsProDemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons Pro';
    src: local('TT Commons Pro'), url('./assets/fonts/TTCommonsProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
